doctype
html(lang='en')
head
    meta(charset='UTF-8')

    meta(http-equiv='X-UA-Compatible', content='IE=edge')

    meta(name='viewport', content='width=device-width, initial-scale=1')

    title #{locales.title}

    // Latest compiled and minified CSS
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css', integrity='sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u', crossorigin='anonymous')
    // Optional theme
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css', integrity='sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp', crossorigin='anonymous')
body
    .container
        h1 #{locales.title}
        .row
            .col-md-12
                form.col-md-12(method='get', action='search')
                    .form-group
                        label Cauta:
                        input.form-control(type='text', name='querystr', placeholder='...', id='query')
                    .form-group.col-md-4
                        label Data de editare start:
                        input.form-control(type='date', name='start_date')
                    .form-group.col-md-4
                        label Data de editare final:
                        input.form-control(type='date', name='end_date')

                    .form-group.col-md-4
                        label Formatul fisierelor:
                        .checkbox
                            label
                                input(type='checkbox', name='content_type1', value='text/plain', checked)
                                span .txt
                        .checkbox
                            label
                                input(type='checkbox', name='content_type2', value='text/html', checked)
                                span .html
                        .checkbox
                            label
                                input(type='checkbox', name='content_type3', value='application/pdf', checked)
                                span .pdf

                    button.btn.btn-info(type='submit') #{locales.search_label}


        hr
        .row
        if (searchResults && queryStats)
            each stats, term in queryStats
                P #{term}: IDF: !{stats.IDF}
            hr
            each doc_info in searchResults
                .list-group
                    a.list-group-item
                        h3 !{doc_info.title}
                        p !{doc_info.modified_date}
                        p !{doc_info.hlfrag}
                        p Score: #{doc_info.score}
                        each tf_idf, term in doc_info.tf
                            P #{term} -TF-IDF-> #{tf_idf}
    // jQuery (necessary for Bootstrap's JavaScript plugins)
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js')
    // Latest compiled and minified JavaScript
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js', integrity='sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa', crossorigin='anonymous')
